@charset "utf-8";

/* CSS Document */

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
td {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "宋体";
    word-wrap: break-word;
}

a,
u,
s,
del {
    color: #666;
    text-decoration: none
}

fieldset,
a img,
.bor0 {
    border: 0;
}

i,
em,
b {
    font-style: normal;
    font-weight: 100;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}


/*去除谷歌点击蓝色虚框*/

textarea {
    resize: none;
}


/*禁止多行文本输入框的拖动*/

.ind2 {
    text-indent: 2em;
}

.over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.valign {
    text-align: center;
}

.valign img {
    vertical-align: middle;
}

.valign:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.clear {
    zoom: 1;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.clear:before {
    content: "";
    display: table;
}