@import 'reset.scss';
.margin {
    width: 1000px;
    margin: 0 auto;
}

header {
    background: #f2f2f2;
    height: 99px;
    line-height: 32px;
    .header-img {
        display: block;
        cursor: pointer;
    }
    #header {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        text-indent: 17px;
        z-index: 96;
        font-family: "\5B8B\4F53";
        i {
            display: inline-block;
            width: 8px;
            height: 4px;
            background: url("../image/myi.png") no-repeat;
            padding: 0 10px;
            font-weight: bold;
            text-indent: 0;
            margin: 2px;
        }
        #header-left {
            float: left;
            a {
                display: inline-block;
                color: #f52648;
                padding-left: 10px;
                font-weight: bold;
                position: relative;
                text-indent: 0;
            }
        }
        #header-right {
            float: right;
            i.te-i {
                display: inline-block;
                background: url("../image/iphone.png") no-repeat;
                width: 9px;
                height: 14px;
                font-weight: bold;
                text-indent: 0;
                margin: 0 4px 0 25px;
                padding: 0;
                vertical-align: middle;
                cursor: pointer;
            }
            .a1 {
                color: #f52648;
            }
            .header-span2 {
                cursor: pointer;
            }
            .header-span3 {
                cursor: pointer;
                margin-left: 21px;
            }
            .header-span4 {
                cursor: pointer;
            }
        }
    }
}

#top {
    height: 121px;
    padding-top: 9px;
    .top-img {
        width: 169px;
        height: 87px;
        display: block;
        float: left;
        cursor: pointer;
    }
    .search {
        display: block;
        float: left;
        width: 400px;
        height: 58px;
        margin: 29px 0 0 131px;
        #top-hot {
            margin-left: 12px;
            span {
                color: #999;
            }
            a {
                color: #ff0056;
            }
        }
        .top-input {
            border: 2px solid #f62648;
            border-radius: 5px;
            margin-bottom: 9px;
            input {
                border: 0;
            }
            input.txt {
                width: 327px;
                height: 36px;
                float: left;
                text-indent: 15px;
                font-size: 14px;
            }
            input.sub {
                background: #f62648;
                color: #fff;
                font: 14px/36px "";
                padding: 0 21px 0 20px;
                float: left;
                cursor: pointer;
            }
        }
    }
    .shop {
        float: right;
        width: 136px;
        height: 40px;
        background: #f1f1f1;
        margin-top: 31px;
        border-radius: 16px 15px;
        padding: 6px 13px 7px;
        box-sizing: border-box;
        .shop-i {
            width: 30px;
            height: 27px;
            display: block;
            float: left;
            background: url("../image/shop.png") no-repeat;
            cursor: pointer;
        }
        .shop-span {
            margin-left: 8px;
            font-size: 12px;
            line-height: 27px;
            color: #666;
            cursor: pointer;
        }
        .circle {
            float: right;
            width: 24px;
            height: 24px;
            border-radius: 8px;
            background: #f62648;
            margin-top: 2px;
            color: #fff;
            font: 700 14px/24px "";
            text-align: center;
        }
    }
}

#nav {
    height: 40px;
    background: #f62648;
    .nav-left {
        float: left;
        li {
            float: left;
            a {
                font: 700 12px/40px "";
                color: #fff;
                display: block;
                width: 220px;
                text-align: center;
            }
        }
        li.active {
            background: #d62340;
        }
        li.nav-pre:hover {
            margin-left: 1px;
            background: #d62340;
        }
    }
    .nav-right {
        float: right;
        a {
            width: 23px;
            height: 25px;
            display: block;
            float: left;
            margin: 7px 18px 0 0;
        }
        .nav-right-a1 {
            background: url("../image/nav_1.png") no-repeat;
        }
        .nav-right-a2 {
            background: url("../image/nav_2.png") no-repeat;
        }
        .nav-right-a3 {
            background: url("../image/nav_3.png") no-repeat;
        }
    }
}

#banner {
    height: 360px;
    position: relative;
    .banner {
        position: relative;
    }
    .banner-list {
        position: absolute;
        background: #f7f7f7;
        padding: 0 17px 0 14px;
        width: 220px;
        box-sizing: border-box;
        ul {
            height: 327px;
            overflow: hidden;
            li {
                height: 98px;
                border-bottom: 1px solid #eee;
                padding-left: 3px;
                padding-top: 10px;
                h3 {
                    font-size: 14px;
                    height: 27px;
                }
                h3.banner-h1 {
                    background: url("../image/banner_list1.png") no-repeat;
                    text-indent: 26px;
                    color: #333;
                }
                h3.banner-h2 {
                    background: url("../image/banner_list2.png") no-repeat;
                    text-indent: 26px;
                    color: #333;
                }
                h3.banner-h3 {
                    background: url("../image/banner_list3.png") no-repeat;
                    text-indent: 26px;
                    color: #333;
                }
                a {
                    display: block;
                    float: left;
                    width: 52px;
                    font: 12px/32px "";
                    color: #666;
                    margin-right: 9px;
                }
                a:hover {
                    color: #f52648;
                }
            }
        }
    }
    .banner-foot {
        background: #f7f7f7;
        position: absolute;
        height: 33px;
        width: 220px;
        top: 327px;
        .banner-foot-i {
            display: block;
            width: 100%;
            height: 100%;
            background: url("../image/banner_sub.png") no-repeat center;
        }
    }
    .banner-lunbo {
        position: relative;
        float: left;
        .banner-img img {
            display: block;
            height: 360px;
            position: absolute;
        }
        .banner-move {
            width: 168px;
            position: absolute;
            z-index: 10;
            bottom: -355px;
            right: -781px;
            li {
                float: left;
                width: 14px;
                height: 14px;
                margin-left: 10px;
                background: #333;
            }
            li:hover {
                cursor: pointer;
                background: #ff0000;
            }
        }
    }
    .banner-lunbo-left {
        float: left;
        width: 395px;
        height: 360px;
        background: #a7071f;
    }
    .banner-lunbo-right {
        float: right;
        width: 135px;
        height: 360px;
        background: #a7071f;
    }
}

#main {
    .margin-te {
        width: 1002px;
    }
    background: #f5f5f5;
    padding-top: 10px;
    .main-title {
        height: 60px;
        border-bottom: 2px solid #f62648;
        .main-title-l {
            float: left;
            width: 120px;
            margin-right: 20px;
            span {
                color: #e05b5b;
                font-size: 8px;
            }
            h3 {
                font-size: 28px;
                color: #f62648;
            }
        }
        .main-span {
            float: left;
            margin-top: 19px;
            span {
                color: #999;
                font-size: 18px;
                b {
                    color: #ff0000;
                }
            }
        }
    }
    .main-list {
        padding-left: 20px;
        padding-top: 25px;
        margin-right: 1px;
        float: left;
        width: 480px;
        background: #fff;
        .main-list-1-l {
            float: left;
            width: 240px;
            i {
                display: block;
                width: 46px;
                height: 59px;
                margin-bottom: 60px;
                background: url("../image/main_top1.png") no-repeat;
            }
            p {
                font-size: 18px;
                color: #666;
                margin-bottom: 54px;
                b {
                    color: #ff0000;
                }
            }
            span {
                font-size: 20px;
                color: #666;
                b {
                    color: #999;
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }
        }
        img {
            display: block;
            float: right;
        }
    }
    .main-list2 {
        padding-left: 20px;
        padding-top: 25px;
        margin-right: 1px;
        margin-top: 1px;
        float: left;
        width: 313px;
        background: #fff;
        .main-list-2-l {
            float: left;
            i {
                display: block;
                width: 46px;
                height: 59px;
                margin-bottom: 60px;
                background: url("../image/main_top3.png") no-repeat;
            }
            p {
                font-size: 18px;
                color: #666;
                margin-bottom: 54px;
                b {
                    color: #ff0000;
                }
            }
            span {
                font-size: 20px;
                color: #666;
                b {
                    color: #999;
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }
        }
        img {
            display: block;
            float: left;
            // margin: 37px 0 0 50px;
        }
    }
}

#hotLook {
    .margin-te {
        width: 1002px;
    }
    background: #f5f5f5;
    padding-top: 10px;
    .hotLook-title {
        height: 60px;
        border-bottom: 2px solid #f99c15;
        .hotLook-title-l {
            float: left;
            width: 120px;
            margin-right: 20px;
            span {
                color: #f5ca8b;
                font-size: 8px;
            }
            h3 {
                font-size: 28px;
                color: #f99c15;
            }
        }
        .hotLook-span {
            float: left;
            margin-top: 19px;
            span {
                color: #999;
                font-size: 18px;
                b {
                    color: #ff0000;
                }
            }
        }
    }
    .hotLookImg {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 491px;
            padding-top: 10px;
            .handleImg {
                position: relative;
                img {
                    width: 491px;
                }
                p {
                    position: absolute;
                    bottom: 0;
                    background: #000;
                    opacity: .6;
                    font: 12px/32px "";
                    width: 100%;
                    color: #fff;
                    text-indent: 8px;
                }
            }
            p.p1 {
                font: 12px/45px "";
                color: #4d4d4d;
                text-indent: 9px;
                b {
                    margin-right: 5px;
                    color: #f52648;
                }
            }
        }
    }
}

#myfixedLeft {
    position: fixed;
    z-index: 100;
    top: 207px;
    left: 24px;
    img {
        display: block;
    }
    a {
        display: block;
        margin-left: 64px;
    }
    a.fixedFirsta {
        margin-top: 20px;
    }
}

#myfixedRight {
    position: fixed;
    z-index: 100;
    right: 100px;
    bottom: 100px;
}